<button (click)="Logout()">Logout</button>
<input type="button" value="Create Item" [routerLink]="['/createproduct']" />
<hr />
<table>
  <tr>
    <th (click)="Sort('id')">ID</th>
    <th (click)="Sort('name')">Name</th>
    <th (click)="Sort('category')">Category</th>
    <th (click)="Sort('price')">Price</th>
    <th></th>
  </tr>
  <tr *ngFor="let product of products; let i = index">
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.category }}</td>
    <td>{{ product.price }}</td>
    <td>
      <button (click)="RemoveItem(product.id)" class="btn btn-link">
        Remove
      </button>
      <button (click)="EditItem(product.id)" class="btn btn-link">Edit</button>
    </td>
  </tr>
  <!-- <app-product-row *ngFor="let product of products" [product]="product"></app-product-row> -->
</table>

<hr />
